# Car Price Prediction with KNN Algorithm

<br>The project uses the data set from https://archive.ics.uci.edu/ml/datasets/automobile 
<br>This data set consists of three types of entities: 
<br>- the specification of an auto in terms of various characteristics
<br>- its assigned insurance risk rating
<br>- its normalized losses in use as compared to other cars. 
<br>
<br>About project
<br>
<br>**Techniques used:**
<br>K-Nearest Neighbors Algorithm
<br>Data Normalization, Visualization
<br>Data cleaning, Descriptive Statistics
<br>
<br>**Libraries used:**
<br>Pandas, NumPy, Scikit-learn,
<br>Math, Matplotlib, Plotly

## 1. Setup

In [2]:
install sklearn
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
import math
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, iplot
import plotly.figure_factory as ff
from plotly import graph_objs as go
init_notebook_mode(connected=True)
pd.options.display.max_columns = 30
%matplotlib inline

SyntaxError: invalid syntax (<ipython-input-2-ad29f1b46080>, line 1)

## 2. Initial Observation of Data

In [3]:
header_list = ["symboling", "normalized_losses", "make", 
               "fuel_type","aspiration", "num_doors", 
               "body_style","drive_wheels", "engine_location", 
               "wheel_base", "length", "width", "height", 
               "curb_weight", "engine_type", "num_cylinders",
               "engine_size", "fuel_system","bore", "stroke", 
               "compression_ratio", "horsepower", "peak_rpm", 
               "city_mpg", "highway_mpg", "price"]

In [4]:
cars = pd.read_csv("data/imports-85.data", names=header_list)

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_doors          205 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_cylinders      205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [6]:
# table = ff.create_table(cars.head())
# iplot(table, filename='jupyter')
cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [7]:
# table = ff.create_table(cars.tail())
# iplot(table, filename='jupyter')
cars.tail()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## 3. Data Cleaning

- Replacing all "?" values to numpy nan to calculate the sum of null values

In [8]:
cars = cars.replace("?", np.nan)

In [9]:
cars.isnull().sum()

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [25]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    164 non-null object
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null object
stroke               201 non-null object
compression_ratio    205 non-null float64
horsepower           203 non-null object
peak_rpm             203 non-null object
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

- Changing the ordinal data in to float and int

In [26]:
cars["bore"] = cars["bore"].astype("float")

In [27]:
cars["stroke"] = cars["stroke"].astype("float")

In [28]:
cars["horsepower"] = cars["horsepower"].astype("float")

In [29]:
cars["peak_rpm"] = cars["peak_rpm"].astype("float")

In [30]:
cars["price"] = cars["price"].astype("float")

In [31]:
cars["normalized_losses"] = cars["normalized_losses"].astype("float")

In [32]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    164 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horsepower           203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

- Handling missing values for cars["normalized_losses"] column

In [33]:
null_rows_normalized_losses = cars[cars["normalized_losses"].isna()]
null_rows_normalized_losses.head(15)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,192.7,71.4,55.7,2954,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,67.9,52.0,3053,ohc,five,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
14,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,55.7,3055,ohc,six,164,mpfi,3.31,3.19,9.0,121.0,4250.0,20,25,24565.0
15,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,55.7,3230,ohc,six,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,30760.0
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,67.9,53.7,3380,ohc,six,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,70.9,56.3,3505,ohc,six,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0
43,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,170.7,61.8,53.5,2337,ohc,four,111,2bbl,3.31,3.23,8.5,78.0,4800.0,24,29,6785.0
44,1,NaN,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,four,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
45,0,NaN,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,63.6,52.0,1909,ohc,four,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
46,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,172.6,65.2,51.4,2734,ohc,four,119,spfi,3.43,3.23,9.2,90.0,5000.0,24,29,11048.0
48,0,NaN,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,69.6,52.8,4066,dohc,six,258,mpfi,3.63,4.17,8.1,176.0,4750.0,15,19,35550.0

> The rows with null values in column normalized-losses contain data on other columns, therefore, it was decided not to remove them but replace with the mean

In [34]:
cars["normalized_losses"].describe()

count    164.000000
mean     122.000000
std       35.442168
min       65.000000
25%       94.000000
50%      115.000000
75%      150.000000
max      256.000000
Name: normalized_losses, dtype: float64

- Replacing the NaN values with the Average in normalized_losses

In [35]:
replacement = cars["normalized_losses"].mean()
cars["normalized_losses"][cars["normalized_losses"].isna()] = replacement

In [36]:
cars["normalized_losses"].head()

0    122.0
1    122.0
2    122.0
3    164.0
4    164.0
Name: normalized_losses, dtype: float64

> The missing values in normalized_losses are now properly handled. The rest of missing values in other columns shall be observed

In [37]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    205 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horsepower           203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

In [38]:
cars.isnull().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            2
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 4
stroke               4
compression_ratio    0
horsepower           2
peak_rpm             2
city_mpg             0
highway_mpg          0
price                4
dtype: int64

In [39]:
cars[cars["num_doors"].isna()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
27,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,157.3,63.8,50.6,2191,ohc,four,98,mpfi,3.03,3.39,7.6,102.0,5500.0,24,30,8558.0
63,0,122.0,mazda,diesel,std,NaN,sedan,fwd,front,98.8,177.8,66.5,55.5,2443,ohc,four,122,idi,3.39,3.39,22.7,64.0,4650.0,36,42,10795.0

In [40]:
cars["num_doors"].describe()

count      203
unique       2
top       four
freq       114
Name: num_doors, dtype: object

In [41]:
cars["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [42]:
cars[cars["bore"].isna()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,two,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,10945.0
56,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,two,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,11845.0
57,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2385,rotor,two,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
58,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2500,rotor,two,80,mpfi,NaN,NaN,9.4,135.0,6000.0,16,23,15645.0

In [43]:
cars["bore"].head()

0    3.47
1    3.47
2    2.68
3    3.19
4    3.19
Name: bore, dtype: float64

In [44]:
cars["bore"].describe()

count    201.000000
mean       3.329751
std        0.273539
min        2.540000
25%        3.150000
50%        3.310000
75%        3.590000
max        3.940000
Name: bore, dtype: float64

In [45]:
cars[cars["stroke"].isna()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,two,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,10945.0
56,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,two,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,11845.0
57,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2385,rotor,two,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
58,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2500,rotor,two,80,mpfi,NaN,NaN,9.4,135.0,6000.0,16,23,15645.0

In [46]:
cars["stroke"].head()

0    2.68
1    2.68
2    3.47
3    3.40
4    3.40
Name: stroke, dtype: float64

In [47]:
cars["stroke"].describe()

count    201.000000
mean       3.255423
std        0.316717
min        2.070000
25%        3.110000
50%        3.290000
75%        3.410000
max        4.170000
Name: stroke, dtype: float64

In [48]:
cars["horsepower"].head()

0    111.0
1    111.0
2    154.0
3    102.0
4    115.0
Name: horsepower, dtype: float64

In [49]:
cars[cars["horsepower"].isna()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
130,0,122.0,renault,gas,std,four,wagon,fwd,front,96.1,181.5,66.5,55.2,2579,ohc,four,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9295.0
131,2,122.0,renault,gas,std,two,hatchback,fwd,front,96.1,176.8,66.6,50.5,2460,ohc,four,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9895.0

In [50]:
cars["horsepower"].describe()

count    203.000000
mean     104.256158
std       39.714369
min       48.000000
25%       70.000000
50%       95.000000
75%      116.000000
max      288.000000
Name: horsepower, dtype: float64

In [51]:
cars["peak_rpm"].head()

0    5000.0
1    5000.0
2    5000.0
3    5500.0
4    5500.0
Name: peak_rpm, dtype: float64

In [52]:
cars[cars["peak_rpm"].isna()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
130,0,122.0,renault,gas,std,four,wagon,fwd,front,96.1,181.5,66.5,55.2,2579,ohc,four,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9295.0
131,2,122.0,renault,gas,std,two,hatchback,fwd,front,96.1,176.8,66.6,50.5,2460,ohc,four,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9895.0

In [53]:
cars["peak_rpm"].describe()

count     203.000000
mean     5125.369458
std       479.334560
min      4150.000000
25%      4800.000000
50%      5200.000000
75%      5500.000000
max      6600.000000
Name: peak_rpm, dtype: float64

In [54]:
cars["price"].head()

0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
Name: price, dtype: float64

In [55]:
cars[cars["price"].isna()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
9,0,122.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,67.9,52.0,3053,ohc,five,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
44,1,122.0,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,four,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
45,0,122.0,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,63.6,52.0,1909,ohc,four,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
129,1,122.0,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,72.3,50.5,3366,dohcv,eight,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN

In [56]:
cars["price"].describe()

count      201.000000
mean     13207.129353
std       7947.066342
min       5118.000000
25%       7775.000000
50%      10295.000000
75%      16500.000000
max      45400.000000
Name: price, dtype: float64

> It was decided to drop the rest of null values since there were only a few rows and no major data would be lost

In [57]:
cars = cars.dropna()
cars = cars.reset_index(drop=True)

In [58]:
cars.isnull().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

- Normalizing the numeric columns to range from 0 to 1 except the price column

In [59]:
ordinal = ['normalized_losses', 'wheel_base', 'length', 
           'width', 'height', 'curb_weight', 'engine_size', 
           'bore', 'stroke', 'compression_ratio', 'horsepower', 
           'peak_rpm', 'city_mpg', 'highway_mpg', 'price']
ordinal_cars = cars[ordinal]

In [60]:
price = ordinal_cars['price']
ordinal_cars = (ordinal_cars - ordinal_cars.min())/(ordinal_cars.max() - ordinal_cars.min())
ordinal_cars['price'] = price

## 4. Univariate K-NN Model

- Creating a univariate knn model

In [61]:
def knn_train_test(train_column, target, df, k_values):
    # shuffle the rows
    np.random.seed(1)
    shuffled_index = np.random.permutation(df.index)
    df = df.reindex(shuffled_index)
    
    # divide the df into train and test (50/50)
    last_train_row = int(len(df)/2)
    train = df.iloc[0:last_train_row]
    test = df.iloc[last_train_row:]
    
    # instantiate a dictionary of k:rmse values
    k_rmse = {}
    
    # knn model for each k value
    for k in k_values:
        
        #instantiate and fit the knn model for each k
        model = KNeighborsRegressor(n_neighbors=k)
        model.fit(train[[train_column]], train[target])
        
        # calculate prefictions
        predictions = model.predict(test[[train_column]])
        
        # find sqrt mean squared error for model preditions
        mse = mean_squared_error(test[target], predictions)
        rmse = math.sqrt(mse)
        k_rmse[k]=rmse
        
    return k_rmse

- Using the univariate knn model to predict prices for our dataframe
- Calculating the RMSE value for each iteration to understand the model performance

In [62]:
k_values = [1,3,5,7,9]
rmse_results = {}
for column in ordinal:
    if column != 'price':
        iteration_k_rmse = knn_train_test(column, "price", 
                                            ordinal_cars, k_values)
        rmse_results[column] = iteration_k_rmse
rmse_results

{'bore': {1: 7289.379536759479,
  3: 7252.0135214775355,
  5: 7204.001552974411,
  7: 7200.340643723126,
  9: 7165.445393921243},
 'city_mpg': {1: 5634.7070131206765,
  3: 4295.1437456859785,
  5: 4453.397655306413,
  7: 4308.397539809335,
  9: 4701.149969138174},
 'compression_ratio': {1: 7838.400373314133,
  3: 7012.187433743944,
  5: 6654.97149452871,
  7: 6533.591537872384,
  9: 6776.214584519611},
 'curb_weight': {1: 5007.487233308995,
  3: 4142.948725351724,
  5: 4277.090667081186,
  7: 4352.41997270106,
  9: 4774.595281788251},
 'engine_size': {1: 3489.2445287545124,
  3: 3117.548910174633,
  5: 3247.858491978603,
  7: 3621.839678193111,
  9: 3934.7415704747746},
 'height': {1: 10889.539460881855,
  3: 8567.789618190958,
  5: 8471.47307870945,
  7: 8137.528220733606,
  9: 8215.912288400235},
 'highway_mpg': {1: 4739.653891404865,
  3: 4256.584038115483,
  5: 4457.947353039764,
  7: 4562.009481668715,
  9: 4827.296450999963},
 'horsepower': {1: 4489.554931675976,
  3: 4481.678972224604,
  5: 4928.54324818991,
  7: 5195.750741027383,
  9: 5159.660348417786},
 'length': {1: 6258.164657996619,
  3: 5764.587398219127,
  5: 5823.219231148748,
  7: 5855.722064663791,
  9: 5901.629001250215},
 'normalized_losses': {1: 7844.319554176846,
  3: 7746.57568261065,
  5: 7701.50819148465,
  7: 7849.466195224261,
  9: 8038.003527258046},
 'peak_rpm': {1: 7514.818289741613,
  3: 7422.196486012476,
  5: 8243.3624491741,
  7: 7920.649600044309,
  9: 7923.688118500236},
 'stroke': {1: 8036.06677462212,
  3: 7567.623206793531,
  5: 8008.490177949228,
  7: 8533.035716275943,
  9: 8339.678715660324},
 'wheel_base': {1: 6332.1593530299715,
  3: 5691.155680372482,
  5: 5879.6327813307325,
  7: 5933.800412037543,
  9: 6007.526484206682},
 'width': {1: 4996.571385284856,
  3: 4360.62964966996,
  5: 4586.6318629004,
  7: 4425.324583896441,
  9: 4715.982229269832}}

- Choosing the best results

In [63]:
# helper method to get key by value in a dictionary
def get_key(dict_obj, val):
    for key, value in dict_obj.items():
         if val == value:
             return key

In [64]:
# choosing minimal error values for each train column
best_values = {}
for column,k_num_rmse in rmse_results.items():
    min_error = min(k_num_rmse.values())
    k_number = get_key(k_num_rmse, min_error)
    best_values[column] = [k_number, min_error]

best_values

{'bore': [9, 7165.445393921243],
 'city_mpg': [3, 4295.1437456859785],
 'compression_ratio': [7, 6533.591537872384],
 'curb_weight': [3, 4142.948725351724],
 'engine_size': [3, 3117.548910174633],
 'height': [7, 8137.528220733606],
 'highway_mpg': [3, 4256.584038115483],
 'horsepower': [3, 4481.678972224604],
 'length': [3, 5764.587398219127],
 'normalized_losses': [5, 7701.50819148465],
 'peak_rpm': [3, 7422.196486012476],
 'stroke': [3, 7567.623206793531],
 'wheel_base': [3, 5691.155680372482],
 'width': [3, 4360.62964966996]}

In [65]:
# choosing only top 3 best k number and train column
sorted_best = sorted(best_values.items(), key=lambda item: item[1][1])
# sorted_3_best = sorted_best[:3]
sorted_best

[('engine_size', [3, 3117.548910174633]),
 ('curb_weight', [3, 4142.948725351724]),
 ('highway_mpg', [3, 4256.584038115483]),
 ('city_mpg', [3, 4295.1437456859785]),
 ('width', [3, 4360.62964966996]),
 ('horsepower', [3, 4481.678972224604]),
 ('wheel_base', [3, 5691.155680372482]),
 ('length', [3, 5764.587398219127]),
 ('compression_ratio', [7, 6533.591537872384]),
 ('bore', [9, 7165.445393921243]),
 ('peak_rpm', [3, 7422.196486012476]),
 ('stroke', [3, 7567.623206793531]),
 ('normalized_losses', [5, 7701.50819148465]),
 ('height', [7, 8137.528220733606])]

- Visualizing the performance results

In [66]:
column_names = [row[0] for row in sorted_best]
column_names

['engine_size',
 'curb_weight',
 'highway_mpg',
 'city_mpg',
 'width',
 'horsepower',
 'wheel_base',
 'length',
 'compression_ratio',
 'bore',
 'peak_rpm',
 'stroke',
 'normalized_losses',
 'height']

In [67]:
k_numbers = [row[1][0] for row in sorted_best]
k_numbers

[3, 3, 3, 3, 3, 3, 3, 3, 7, 9, 3, 3, 5, 7]

In [68]:
rmse_column = [row[1][1] for row in sorted_best]
rmse_column

[3117.548910174633,
 4142.948725351724,
 4256.584038115483,
 4295.1437456859785,
 4360.62964966996,
 4481.678972224604,
 5691.155680372482,
 5764.587398219127,
 6533.591537872384,
 7165.445393921243,
 7422.196486012476,
 7567.623206793531,
 7701.50819148465,
 8137.528220733606]

In [96]:
color1 = 'white'
color2 = 'lightgrey'
header_color = "lightblue"

fig = go.Figure(data=[go.Table( 
    header=dict(values=["Parameter", "K Number", "RMSE"], 
                fill_color=header_color), 
    cells=dict(values=[column_names, k_numbers, rmse_column],
              fill_color = [[color1, color2]*10])) ]) 
iplot(fig)

> **Observations:**
    <br>here

## 5. Multivariate K-NN Model